table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

#leaderBoardContainer {
    margin-top: 20px;
    display: grid;
    justify-content:center;
}

#leaderBoardTitle {
    margin-left: 100px;
    width: 200px;
}

#leaderBoard {
    width: 400px;
    font-size: 25px;
}