#restartGameButton {
    margin-left: 5px;
    width: 200px;
    height: 36px;
    font-size: larger;
}

#interactiveElements {
    display: inline-flex;
    margin-top: 10px;
}

#textInputArea {
    width: 800px;
    height: 32px;
    font-size: 24px;
    font-family: monospace;
}

#nameInput {
    align-self: center;
    width: 200px;
    margin-bottom: 15px;
}